
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//estilos
@import "styles";
 
* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
a {
	color: #444444;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: #9e9e0c;
	}
}